* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  color: rgb(0, 0, 0);
}
header {
  background-color: rgb(160, 158, 158);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
input {
  width: 150px;
  border-radius: 30px;
  padding-left: 20px;
  height: 30px;
  background-color: rgb(214, 214, 214);
}

input::placeholder {
  color: rgb(0, 0, 0);
  font-size: 15px;
  text-align: start;
}
body {
  background-color: rgba(145, 145, 145, 0.384);
}
